@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');

.box {
    border-style: solid;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-width: 5px;
    padding: 30px;
    flex: 0 0 300px;
    margin: 20px;
    font-weight: 300;
  }

  .box p {
    border-style: solid;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

    flex: 0 0 300px;
    margin: 10px;
    font-weight: 500;
    background-color: blanchedalmond;
  }

 input[type=password] {
    border-style:dashed;
    width: 600px;
    height: 50px;
    text-align: start;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    padding: 10px;
    margin: 50px;
    
  }

  button {
    color: rgb(255, 255, 255);
    background-color: rgb(193, 0, 0);
    height: 25px;
    padding: 25px;
    font-weight: 700;
    border-radius: 20px;
  }

  h1 {
    font-weight: 700;
  }